page-custom-pizza-modal {
    ion-header {
        ion-navbar {
            button {
                transition: all .2s linear;
            }

            button.scrolled {
                color: #086 !important;
            }

            button[hidden] {
                display: block !important;
            }
        }
    }

    ion-content {

        .scroll-content {
            margin: 0 !important;
            padding-bottom: 60px;

            #header_image {
                height: 30vh;
                background: url(../assets/images/pizzas/zelf-samenstellen.jpg) no-repeat center top;
                background-size: cover;
                -webkit-box-shadow: inset 0px 8px 62px 11px rgba(0,0,0,0.64);
                box-shadow: inset 0px 8px 62px 11px rgba(0,0,0,0.64);
            }

            header {
                h6 {
                    line-height: 2.5rem;
                }
            }

            .nyp-toppings {
                &:after {
                    clear: both;
                    content: '';
                    display: block;
                }

                .nyp-topping-col {
                    @media screen and (min-width: 600px) {
                        width: 50%;
                        float: left;
                        position: relative;
                        min-height: 1px;
                        padding-right: 15px;
                        padding-left: 15px;
                        margin-left: 0;
                        margin-right: 0;
                    }

                    .topping-labels {
                        font-size: 1em;
                        color: #9d9d9d;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 16px;

                        div {
                            span {
                                display: inline-block;
                                //width: 37px;
                                text-align: center;
                                overflow: hidden;
                            }
                        }
                    }

                    ion-item {
                        padding: 0;

                        &[aria-activedescendant] {
                            ion-label {
                                color: #086;
                            }
                        }
                    }
                    /* Checkboxes */
                    .custom-checkbox {
                        .item-cover {
                            width: 0%;
                            height: 0%;
                        }
                    }

                    .radio-ios {
                        margin-left: 16px !important;
                        margin-right: 0px !important;
                        width: 21px;
                        height: 21px;
                        border-width: 1px;
                        border-style: solid;
                        border-radius: 50%;
                        border-color: #c8c7cc;

                        &:first-child {
                            margin-right: 8px;
                        }
                    }
                }
            }

            .topping-title {
                background-color: #efefef;
                color: #8d8d8d;
                font-weight: 100;
                font-size: 1.3rem;
                line-height: 2.5rem;
            }

            .list-md .item-input:last-child {
                border-bottom: none;
            }
        }
    }

    ion-footer {
        button {
            @media screen and (min-width: 600px) {
                display: inline-block !important;
                width: auto !important;
                font-size: 20px !important;
                padding: 1em 2.5em !important;
            }
        }
    }
}
