page-login {
    ion-item {
        position: relative;
        border: none !important;
        
        .item-inner {
            padding-right: 0 !important;
            border: none !important;

        }

        ion-input {
            border: 1px solid transparent;
            border-bottom-color: #c8c7cc;
            transition: all .2s ease-in-out;
        }

        ion-input.invalid {
            border: 1px solid #e30613;

            &:after {

            }
        }
    }
}